<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/success.css">
    <title> NOTED | Dashboard </title>
</head>
<body>
    <br><br>
	<div class="header">
		<br><br>
		<h1>Welcome to your Dashboard, <%=name %></h1>
	</div>
<div class="row row-cols-3 row-cols-sm-3 g-9 align-items-center">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <h6 class="card-subtitle mb-2 text-muted">START NOTING </h6>
		  <a href="localhost:6000" target="_blank"> 
		  <img class="card-img-top" src="../css/notes.jpg" alt="Card image top" id="card-img">
		 </a> 
		  <p class="card-text"> </p> 
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<h6 class="card-subtitle mb-2 text-muted"> CLIPBOARD </h6>
			<a href="localhost:4000" target="_blank">
			<img class="card-img-top" src="../css/clipboard.jpg" alt="Card image top" id="card-img">
			</a>
			<p class="card-text"> </p>
		</div>
	</div>
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<h6 class="card-subtitle mb-2 text-muted"> CALENDAR </h6>
			<a href="localhost:5000" target="_blank">
			<img class="card-img-top" src="../css/calendar.jpg" alt="Card image top" id="card-img">
			</a>
			<p class="card-text"> </p>
			
		  </div>
	</div>
</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>